body {
background-image: url("../images/glasses.jpg");
font-family: sans-serif;
}

#screen{

    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 900px;
    width: 900px;
}

.header{

    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
    font-weight: bold;
    font-size: 50px;
    color: white;
    position: relative;
    bottom: -175px;

}

#time {
    position: relative;
    top: -875px;
    right: -850px;
    background: rgb(190, 159, 16);
    height: 90px;
    width: 205px;
    font-size: 25px;
    border-radius: 25%;
    font-family: sans-serif;
    color:white;
    font-weight: bold;
    text-align: center;
    padding-top: 25px;
}



.container{
    position: relative;
    top: -770px;
    right: -425px;
    height: 500px;
    width: 400px;
    border: black;
    border-width: 5px;
    border-color: black;

}

.btn{
    height: 40px;
    width:  200px;
    font-size: 20px;
    margin-left: 100px;
    border-radius: 25px;     
    background: radial-gradient(rgb(212, 185, 185), #aa9fdb75);
    font-weight: bold;
    color:red;
    position: relative;
    top: -50px;

}

#question{
    font-weight: bold;
    font-size: 18px;
    padding-bottom: 30px;
    text-align: center;
    width: 500px;
    position: relative;
    left: -50px;
    top: -50px;
}

.btn:hover{
    background-color: rgb(190, 159, 16);
    color: white;


}

.gif{
    padding-top: 40px;
    width: 400px;
    height: 200px;
    position: relative;
    padding: auto;


}


#question{
    color: blue;

}
