body {
background-image: url("../images/glasses.jpg");
font-family: sans-serif;
}

#screen{

    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 800px;
    width: 800px;
}

.header{

    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
    font-weight: bold;
    font-size: 50px;
    color: white;
    position: relative;
    bottom: -150px;

}

#time {
    position: relative;
    top: -775px;
    right: -800px;
    background: rgb(190, 159, 16);
    height: 90px;
    width: 205px;
    font-size: 25px;
    border-radius: 25%;
    font-family: sans-serif;
    color:white;
    font-weight: bold;
    text-align: center;
    padding-top: 25px;
}



.container{
    position: relative;
    top: -770px;
    right: -425px;
    height: 500px;
    width: 400px;
    border: black;
    border-width: 5px;
    border-color: black;

}

.btn{
    height: 40px;
    width:  200px;
    font-size: 20px;
    margin-left: 100px;
    border-radius: 25px;     
    background: radial-gradient(rgb(212, 185, 185), #aa9fdb75);
    font-weight: bold;
}

#question{
    font-weight: bold;
    font-size: 20px;
    padding-bottom: 30px;
    padding-top: 20px;
    text-align: center;
}

.btn:hover{
    background-color: rgb(190, 159, 16);
    color: white;


}




/* 
.box{
    font-family:sans-serif;
    position: absolute;
    width: 50%;
    height: 50%;
    background: radial-gradient(#fff, #75757575);
    overflow:hidden;
}

.box:before{
content: "";
position: absolute;
top: 50%;
left: 0;
width: 100%;
height: 5px;
transform: translateY(-50%);
background: #000;
}


.box:after{
    content: "";
    position: absolute;
    top: 0%;
    left: 50%;
    width: 5px;
    height: 100%;
    transform: translateX(-50%);
    background: #000;
}

.circle {
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%,-50%);
width: 500px;
height: 500px;
border: 5px solid #ffff;
border-radius: 50%;
z-index: 1;
}

.circle.circle2{
width: 600px;
width: 600px;
}

.middle{
position: absolute;
top: 50%;
left: 50%;
height: 4px;
width: 1200px;
background: #000;
animation: animate 1s linear infinite;
}

@keyframes animate{
    0% { transform: rotateX(0deg);    
    } 100% { transform: rotateX(360deg);    

} */


